header{
    background-image: url('/assets/images/header-background-large.jpg');
    padding: 94px 261px;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

header p:nth-child(1){
    min-width: 398px;
    align-self: center;
}

header #header-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

header button{
    width: auto;
}

main img{
    max-width: 100%;
}

#section1{
    display: grid;
    gap: 16px;
    grid-template-areas:
    "image title"
    "image article";
    justify-content: center;
}

section p:nth-of-type(1){
    font-size: 2.5rem;
    width: 329px;
    line-height: 54.47px;
}

section p:nth-of-type(2){
    width: 348px;
}

#section2{
    background-color: rgba(246, 246, 246, 1);
    display: grid;
    gap: 16px;
    grid-template-areas:
    "title image"
    "article image";
    justify-content: center;
}

#section3{
    display: grid;
    gap: 16px;
    grid-template-areas:
    "image title"
    "image article";
    justify-content: center;
}

section img{
    grid-area: image;
}

section p:nth-of-type(1){
    grid-area: title;
    align-self: flex-end;
}

section p:nth-of-type(2){
    grid-area: article;
    align-self: flex-start;
}

#section4{
    background-color: rgba(246, 246, 246, 1);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#section4 p:nth-of-type(1){
    font-size: 2.5rem;
    width: 608px;
    align-self: center;
}

#section4 p:nth-of-type(2){
    width: 802px;
    align-self: center;
}